<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pedido.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @pedido.direccion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pedido.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @pedido.telefono %>
</p>

<p>
  <strong>Tipo de pago:</strong>
  <%= @pedido.tipo_de_pago %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
